ENV=LOCAL
DEBUG=True
ALLOWED_ORIGINS=["http://localhost:5173"]

DB_NAME=user_manager
DB_USER=postgres
DB_PASS=postgres123
DB_HOST=host.docker.internal
DB_PORT=5432
DB_DRIVER=postgresql+asyncpg

RETELL_API_KEY=key_9047c5b24d13050124640b4905cb
RETELL_WEBHOOK=https://d3bbb3838093.ngrok-free.app
RETELL_WEBHOOK_KEY=key_62bc7e7173083192f0e6c3b8fc20


DB_MONGO_HOST=mongo
DB_MONGO_PORT=27017
DB_MONGO_USERNAME=admin
DB_MONGO_PASSWORD=password
DB_MONGO_NAME=company